       /* public/css/arti/audio.css */

/* Main Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Main Content */
.main-content {
    margin-left: 105px;
    margin-top: 35px
}


/* Section Headings */
.audio-management h2,
.audio-list h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 25px;
}

/* Form Group */
.form-group {
    margin-bottom: 20px;
}

/* Form Labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Form Inputs */
.form-control {
    width: 105%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.form-control:focus {
    outline: none;
    border-color: #24007a;
    box-shadow: 0 0 5px rgba(36, 0, 122, 0.5);
}

/* Action Buttons */
.action-button {
    display: inline-block;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.action-button.add {
    background-color: #28a745; /* Green */
}

.action-button.add:hover {
    background-color: #218838;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(40, 167, 69, 0.3);
}
.action-button.view {
    background-color: #007bff;
}

.action-button.view:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 123, 255, 0.3);
}

.action-button.delete {
    background-color: #dc3545; /* Red */
}

.action-button.delete:hover {
    background-color: #a71d2a;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(220, 53, 69, 0.3);
}

/* Audio List */
.audio-list {
    margin-top: 30px;
}

/* Audio Table */
.audio-table {
    width: 110%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.audio-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.audio-table th,
.audio-table td {
    padding: 16px;
    text-align: center;
}

.audio-table th {
    background-color: #24007a;
    color: white;
    font-weight: bold;
}

.audio-table tbody tr:hover {
    background-color: #f9f9f9;
}

/* Action Buttons */
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-group {
    display: flex;
    gap: 10px; /* Add space between buttons */
}
