body {
    background-color: #e3e2e8;
}

.main-content {
    margin-left: 170px;
    margin-top: 100px;
}

.settings-management {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-categories {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.settings-categories .category {
    margin-bottom: 20px;
    cursor: pointer;
}

.settings-categories .category h3 {
    margin-bottom: 10px;
    background: white;
}

.settings-categories .category h3:hover{
    color: white;
    /* background-color: #4e348a; */
}


.settings-categories .category .active {
    /* text-decoration: underline; */
    color: white;
    background-color: #24007a;
}

/* save Button Container */
.save-button-container {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-bottom: 15px;
}

.save-button {
    display: inline-block;
    background-color: #24007a;
    color: white;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.save-button:hover {
    background-color: #25007ae1;
    transform: scale(1.05);
}

.action-button {
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    /* background-color: #007bff; */
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.action-button:hover {
    /* background-color: #0056b3; */
}
