/* public/css/temple/temple.css */

/* Main Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Main Content */
.main-content {
    margin-left: 90px;
    margin-top: 35px;
    padding: 10px;

}

/* Add Button Container */
.add-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #24007a;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #25007ae1;
    transform: scale(1.05);

}

.add-button {
    display: inline-block;
    background-color: #24007a;
    color: white;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.add-button:hover {
    background-color: #25007ae1;
    transform: scale(1.05);
}


/* Temple List */
.temple-list {
    width: 110%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Temple Table */
.temple-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.temple-table th,
.temple-table td {
    padding: 16px;
    text-align: center;
}

.temple-table th {
    background-color: #24007a;
    color: white;
    font-weight: bold;
}

.temple-table tbody tr:hover {
    background-color: #f9f9f9;
}

/* Temple Image */
.temple-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Description */
.description {
    padding: 20px;
    text-align: left;
}

/* Action Buttons */
.action-buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    width: 70px;
    text-align: center;
}

.action-button.view {
    background-color: #007bff;
}

.action-button.view:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 123, 255, 0.3);
}

.action-button.edit {
    background-color: #ff6702;
}

.action-button.edit:hover {
    background-color: #e96b00;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(253, 126, 20, 0.3);
}

.action-button.delete {
    background-color: #dc3545;
}

.action-button.delete:hover {
    background-color: #a71d2a;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(220, 53, 69, 0.3);
}

/* Temple Detail Page */
.temple-detail {
    text-align: center;
    padding: 20px;
}

.temple-detail h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.temple-detail .temple-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.temple-detail .description {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .temple-table th,
    .temple-table td {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .temple-table th,
    .temple-table td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .temple-table th,
    .temple-table td {
        padding: 8px;
    }

    .action-button {
        display: block;
        margin: 5px auto;
        width: 70px;
        text-align: center;
    }
}

.description-data {
    display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
